body{
    margin: 0;
    background-color: white;
    font-family: sans-serif;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.cabecera{
    display: grid;
    background-color: #0077b6;
    padding: 15px 30px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

.navegacion{
    display: grid;
    display: flex;
    gap: 20px; 
}

.navegacion a{
    display: grid;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}


.contenedor-revista{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
}

.articulo{
    background-color: rgb(255, 230, 230);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 119, 182, 0.1);
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.articulo-destacado{
    grid-column: span 2;
    background-color: #0077b6;
    color: white;
}

.Avatar-Autor{
    border-radius: 20px;
    width: 900px;
    height: 400px;
    object-fit: cover;
}

.articulo-UiUx{
    grid-column: span 2;
}

