body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;

    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.85)),
        url("Rick-and-Morty-Back.gif");

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
}
 
 
/* El contenedor vacío que JS va a llenar */
#tarjeta-contenedor {
    background-color: #000000;
    padding: 25px;
    border-radius: 25px;
    text-align: center;

    box-shadow:
        0 0 20px rgb(17, 255, 0),
        0 0 50px rgba(17, 255, 0, 0.75);


    min-width: 300px;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
 



/* Estilos para el HTML que va a inyectar JS */
.avatar-api {
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #b6ff00;
    box-shadow:        
        0 0 20px rgb(17, 255, 0),
        0 0 50px rgba(17, 255, 0, 0.75);
        margin-bottom: 10px;
}
 
 
.nombre-api {
    color: #ffffff;
    font-size: 1.8rem;
    margin: 15px 0 10px 0;
    text-shadow:
        0 0 8px rgb(17, 255, 0),
        0 0 18px #00ffaa;
}
 
 
.estado-api {
    background: linear-gradient(135deg, #d9ff00, rgb(17, 255, 0), #00ffaa);
    color: rgb(0, 0, 0);
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: bold;
    display: inline-block;
    box-shadow:        
        0 0 50px rgba(17, 255, 0, 0.75);
    margin-top: 10px;
}
 
 
#tarjeta-contenedor p{
    color: #eaffd0;
    font-weight: bold;
}


/* El Botón */
button {
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #2b2d42;
    background: linear-gradient(135deg, #d9ff00, rgb(17, 255, 0), #00ffaa);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s ease;
}
 
 
button:hover {
    transform: scale(1.05);
    background-color: rgb(17, 255, 0);
}